/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('image/spatu.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.contact-page {
    background: url('image/spatu.jpg') no-repeat center center fixed;
    background-size: cover;
}
